.whole{
    padding-top:52px;
    border-top: 1px solid #EEEEEF;
    padding-bottom: 64px;
}



.single{
    padding: 16px 16px 20px 16px;
    border-radius: 12px;
    width: 25%;
    border: 1px solid #EEEEEF;
}

.title{
    margin-top:12px;
    margin-bottom:12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color:#303541
}
.row{
    display: flex;
    gap: 16px
}
.iconStyle{
    width: 20px;
    height: 20px;
    margin-right:4px;
}

.name{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color:#A0A2A8
}

.buttons{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top:12px
}

.button{
    padding:8px 12px;
    border-radius: 100px;
    background: #EAEAEE;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color:#595878;
    cursor: pointer;
}

.inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 28px;
}